{% load static %}
      <div id="hero-area" class="hero-area-bg">
        <div class="container">      
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Já pensou em receber seus <br> crediários em aberto?</h2>
                <p>Receber de seus clientes nunca foi tão facil, <strong> em breve </strong>, você poderá contar com a iCobrei para cobrar seus clientes de forma descomplicada. </p>
                <div class="header-button">
                  <a href="#" class="btn btn-common">SAIBA MAIS</i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/SVG/Ativo 1.svg' %}" alt="">
              </div>            
            </div>
          </div> 
        </div> 
      </div>
      
      <div class="container">
        {% if messages %}
          {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
              <button type="button" class="close" data-dismiss="alert"></button>
              <strong>{{ m }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </header>
<!-- Header Area wrapper End -->