{% load static %}
    <!-- About Section start -->
    <div id ="ia" class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.1s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Ciência de Dados</p>
                  <h2 class="section-title">Inteligência de máquina engajada na sua causa</h2>
                </div>
                <div class="content">
                  <p>
                    Os dados são tratados por scripts automatizados, aos quais, utilizam de aprendizagem profunda através de redes neurais para deixar nossos bots mais estratégicos a cada negociação. Deste modo, seu negócio nunca sai perdendo.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>
    <!-- About Section End -->